  font-family: Helvetica, sans-serif;
}

#popup {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

[ng-click] { 
  cursor: pointer;
}

#more {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 15px;
  padding-left: 25%;
}

.outer {
  border-radius: 2px;
  border-color: black;
  width: 236px;
  height: 300px;
}

#mouse {
  float: left;
  position: fixed;
  height: 200px;
  padding-top: 50px;
}

#loading-wheel {
  float: left;
  position: absolute;
  padding-left: 112px;
  padding-top: 108px;
  height: 35px;
}

#result {
  height: 300px;
}

#result:hover {
  opacity: 0.3;
}

#details {
  font-family: 'Alegreya Sans SC', sans-serif;
  list-style: none;
}

.item {
  font-size: 16px;
}

.detail {
  font-size: 13px;
}

#not-found {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 15px;
}

#not-found > img {
  padding-left: 40px;
  padding-top: 50px;
}

#not-found > div {
  padding-left: 6px;
}