<!--          details             -->
<div class="details">
  <li class="item">Name:</li>
  <li class="detail">{{ allRecords[0].dba }}</li>
  <br/>
  <li class="item">Grade:</li>
  <li class="detail">{{ allRecords[0].grade }}</li>
  <br/>
  <li class="item">Inspection Date:</li>
  <li class="detail">{{ allRecords[0].grade_date |  date }}</li>
  <br/>
  <li class="item">Violations:</li>
  <li class="detail">{{ allRecords[0].violation_description }}</li>
  <br/>
  <br/>
  <li class="item" ng-click="getHistory()">Show Inspection History</li>
</div>