<!--          details             -->
<div class="details">
  <li class="item">Name:</li>
  <li class="detail">{{ record.dba }}</li>
  <br/>
  <li class="item">Grade:</li>
  <li class="detail">{{ record.grade }}</li>
  <br/>
  <li class="item">Inspection Date:</li>
  <li class="detail">{{ record.grade_date |  date }}</li>
  <br/>
  <li class="item">Violations:</li>
  <li class="detail">{{ record.violation_description }}</li>
  <br/>
  <br/>
  <li class="item btn show-all" ui-sref="history">Show Inspection History</li>
</div>