
<!DOCTYPE html>
<html ng-app="NYCDOHChromeEx" ng-csp>
  <head>
    <link rel="stylesheet" href="../popup.css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>

    <script src="../lib/angular.min.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>


    <script src="../js/app.js"></script>
    <script src="../js/popup.factory.js"></script>
    <script src="../js/popup.controller.js"></script>
    <script src="../js/custom.date.filter.js"></script>
</head>
<body id="popup">
    <header>
        <h1></h1>
    </header>

    <div ng-controller="PageController">
        <div class="outer">
          
          
<!--          loading             -->
          <div class="still-loading" ng-show="loading">
            <img id="mouse" src="/../images/mouse.jpg">
            <img id="loading-wheel" src="/../images/loading.gif">
          </div>
          
          
          
<!--          grade             --> 
          <div id="results" ng-show="gradeDisplayed && !details" ng-click="showHideDetails()">{{findRestaurant()}}</div>
          <div>
            <div id="more" ng-show="gradeDisplayed && !detailsDisplayed && !details" ng-click="showHideDetails()">click for details</div>
          </div>
          
          
          
<!--          details             -->
          <div id="details" ng-show="details" ng-click="showHideDetails()">
            <li class="item">Name:</li>
            <li class="detail">{{ record.dba }}</li>
            <br/>
            <li class="item">Grade:</li>
            <li class="detail">{{ record.grade }}</li>
            <br/>
            <li class="item">Inspection Date:</li>
            <li class="detail">{{ date | date }}</li>
            <br/>
            <li class="item">Violations:</li>
            <li class="detail">{{ record.violation_description }}</li>
          </div>
          
          
<!--          not found             -->
          
          
          
          <div id="not-found">
            
          </div>
          
          
        </div>
    </div>
  </body>
</html>