
<!DOCTYPE html>
<html ng-app="NYCDOHChromeEx" ng-csp>
  <head>
    <link rel="stylesheet" href="../popup.css">
    <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans+SC' rel='stylesheet' type='text/css'>

    <script src="../lib/angular.min.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="../js/app.js"></script>
    <script src="../js/popup.factory.js"></script>
    <script src="../js/popup.controller.js"></script>
    <script src="../js/states/loading.js"></script>
    <script src="../js/states/grade_display.js"></script>
    <script src="../js/states/details.js"></script>
    <script src="../js/states/history.js"></script>
    <script src="../js/states/notfound.js"></script>
</head>
<body id="popup">
  <div class="outer">
    <div ui-view></div>
  </div>
  </body>
</html>